{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button outline big" href="https://github.com/prenerLab/" target="_blank"><i class="fab fa-github"></i>prenerLab on Github</a> <a class="button primary big" href="https://github.com/prenerLab/prenerlab.github.io/" target="_blank"><i class="fas fa-code-branch"></i> Contribute to Docs</a>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <i class="fas fa-book fa-3x"></i>
        </figure>
        <h3><a href="/blog">Meta</a></h3>
        <p>High-level documentation about how we piece tools and techniques together to produce research.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <i class="fas fa-file-alt fa-3x"></i>
        </figure>
        <h3><a href="/docs">Docs</a></h3>
        <p>Low-level documentation about how we use individual tools and techniques.</p>
      </div>
      <div class="col col-4 item">
        <figure>
         <i class="fas fa-question-circle fa-3x"></i>
        </figure>
        <h3><a href="/faq">FAQ</a></h3>
        <p>Answers to some general questions, including about joining my team and our current research projects.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <figure> 
          <i class="fas fa-user-circle fa-3x"></i>
        </figure>
        <h3><a href="https://chris-prener.github.io" target="_blank">About Chris</a></h3>
        <p>Chris is a Sociologist at <a href="https://www.slu.edu" target="_blank">Saint Louis University</a> You can learn more about Chris and his research on <a href="https://chris-prener.github.io" target="_blank">his website</a>.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <i class="fas fa-toolbox fa-3x"></i>
        </figure>
        <h3><a href="/tools">Tools</a></h3>
        <p>We use a variety of research tools and software, with a preference for open source.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <i class="fas fa-balance-scale fa-3x"></i>
        </figure>
        <h3><a href="/license">License</a></h3>
        <p>This website is released under a Creative Commons BY-SA 4.0 License.</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
