{{ $header := print "_header." .Lang }}
	{{ range where .Site.Pages "Source.BaseFileName" $header }}
	{{ .Content }} 
	{{else}}
  {{ if .Site.GetPage "page" "_header.md" }}
    {{(.Site.GetPage "page" "_header.md").Content}}
  {{else}}
    <a class="baselink" href="{{.Site.BaseURL}}"><i class="fas fa-users fa-2x"></i>&nbsp; {{.Site.Title}}</a>
  {{end}}
{{end}}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<link rel="stylesheet" href="/css/academicons.min.css"/>
